.button {
  width: 250px;
  height: 45px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #002eace3;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--primary);
  color: #fff;
  transform: translateY(-5px);
}
