.heading {
  text-align: center;
  margin-top: 0px;
  color: #333333;
  padding: 10px;
  margin-left: 10px;
}

.about-container {
  display: flex;
  align-items: center;
  padding: 60px 20px;
  color: #000; /* White text color for contrast */
}

.about-image {
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow for image */
  padding: 10px;
}

.about-introduction {
  flex-grow: 1;
  margin-left: 40px;
  max-width: 600px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-introduction {
    margin: 20px 0;
  }
}
