.blog-post-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #20202b; /* Dark background */
  color: #fff; /* Light text color */
  border-radius: 8px;
}

.blog-post-title {
  margin-bottom: 10px;
  color: #fff; /* Inherit light text color */
}

.blog-post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #ccc; /* Lighter gray for meta information */
}

.publish-date,
.reading-time {
  color: orange; /* Orange color for date and reading time */
}

.markdown-body {
  line-height: 1.6;
  color: #ddd; /* Lighter text color */
  text-align: left;
  word-wrap: break-word;
}

.markdown-body a {
  color: #4ea3f0; /* Light blue color for links */
}

.markdown-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.published-by {
  margin-top: 20px;
  font-style: italic;
  color: #999; /* Light gray for published by */
  text-align: left;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #ccc; /* Lighter gray for loading text */
}

.example-testcases {
  list-style-type: none;
  padding-left: 0;
  margin-top: 15px;
}

.example-testcases li {
  margin-bottom: 8px;
}

.hints {
  list-style-type: none;
  counter-reset: hint-counter;
  padding-left: 0;
  margin-top: 15px;
  line-height: 2;
}

.hints li {
  margin-bottom: 8px;
  color: #fff;
  position: relative;
}

.hints li:before {
  content: counter(hint-counter);
  counter-increment: hint-counter;
  position: absolute;
  left: -25px;
  top: 0;
  font-weight: bold;
  color: #fff;
}
