/* BlogPost.css */
.blog-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.blog-post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

.publish-date {
  font-size: 0.9rem;
}

.reading-time {
  font-size: 0.9rem;
}

.markdown-body {
  line-height: 1.6;
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  word-wrap: break-word; /* Ensure long words break instead of overflow */
}

.markdown-body pre {
  white-space: pre-wrap; /* Preserve formatting within <pre> blocks */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  background-color: #f0f0f0; /* Example background color for code blocks */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.markdown-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.published-by {
  margin-top: 20px;
  font-style: italic;
  color: #777;
  text-align: left;
}

.loading {
  text-align: center;
  padding: 20px;
}
