/* General styling for inputs and select */
input,
select,
textarea {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Button styles */
input[type='submit'] {
  width: 100%;
  background-color: #e13969;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #e13969a7;
}

/* Container and form styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.contact-form {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }
}
