.home-page {
  padding: 15%;
  height: 1000px;
  background: url(../../public/wallpaper.webp) no-repeat center center fixed;
  background-size: cover;
}
.my-details {
  padding: 48px 50px 50px;
  border-radius: 20px;
  background-color: #fff;
}
.about-me-page {
  padding: 30px 30px 30px;
  background-color: #181818;
  color: #ffffff;
}
.about-me-page h1 {
  text-align: left;
  line-height: 10px;
}
.split-div {
  display: inline-block;
}
.split-div2 p {
}
.split-div2 {
  color: rgb(131, 131, 131);
  font-size: 19px;
  line-height: 25px;
}
.bubbles img {
  width: 50px;
  animation: bubbles 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -50px;
}
@keyframes bubbles {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  70% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1) {
  width: 25px;
  animation-delay: 2s;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  width: 25px;
  animation-delay: 3s;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 1s;
}
.bubbles img:nth-child(6) {
  width: 20px;
  animation-delay: 6s;
}
.bubbles img:nth-child(7) {
  width: 35px;
  animation-delay: 7s;
}
