.home-page {
  padding: 300px 200px 250px;
  height: 1000px;
  background: url(../../public/bg1.jpg) no-repeat center center fixed;
  background-size: cover;
}
.my-details {
  width: 500px;
  padding: 50px 80px 50px;
  border-radius: 20px;
  background-color: #fff;
}
.about-me-page {
  padding: 30px 30px 30px;
  height: 1200px;
  background-color: #181818;
  color: #ffffff;
}
.about-me-page h1 {
  text-align: left;
  line-height: 10px;
}
.split-div {
  display: inline-block;
}
.split-div1 {
}
.split-div2 {
  padding: 30px 400px 30px;
  color: rgb(131, 131, 131);
  font-size: 19px;
  line-height: 25px;
}
