.home-page {
  padding: 10%;
  height: 1000px;
  background: url(../images/bg1.jpg) no-repeat center center fixed;
  background-size: cover;
}
.my-details {
  padding: 50px 80px 50px;
  border-radius: 20px;
  background-color: #fff;
}
.about-me-page {
  padding: 30px 30px 30px;
  background-color: #181818;
  color: #ffffff;
}
.about-me-page h1 {
  text-align: left;
  line-height: 10px;
}
.split-div {
  display: inline-block;
}
.split-div2 p {
}
.split-div2 {
  color: rgb(131, 131, 131);
  font-size: 19px;
  line-height: 25px;
}
