.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  margin: 10px 20px 10px 20px;
  padding: 0px 50px 40px 50px;
}

.auto-grid li {
  border: 1px solid #e48daf;
  padding: 15px;
  border-radius: 10px;
}
