.projects-page {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px;
}

.dropdown-container {
  margin-top: auto;
}

.custom-dropdown {
  margin-left: 10px;
  padding: 8px;
  font-size: 16px;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 2rem;
  margin: 10px 0;
  padding: 0;
}

.auto-grid li {
  padding: 15px;
  border-radius: 10px;
  background-color: #181823; /* Dark bluish background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  ); /* Creating a whitish glossy effect */
}

.auto-grid li:hover {
  transform: translateY(-5px); /* Example: Add a hover effect */
}
