.nav-bar {
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  height: 6rem;
  background: #180a0a;
  color: #ffffff;
}
.navbar-nav {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-name {
  height: auto;
  font-weight: bold;
  padding-top: 20px;
  margin: 20px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
