.card {
  background: #000;
  margin-bottom: 12px;
  display: flex;
  border: 1px solid #464646;
  height: 80px;
  border-radius: 5px;
  position: relative;
  transition: transform 0.2s; /* Animation */
}
.card:hover {
  transform: scale(0.99);
}
.card-title {
  margin-top: 10px;
  margin-left: 10px;
  color: #ffffff;
}

.tags-container {
  display: flex;
  position: absolute;
  bottom: 5px;
}
.card-difficulty {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
