input,
select {
  width: 100%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #031993f0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #031893;
}
.contact-form {
  margin: 5%;
  padding: 1% 5%;
}
.contact-container {
  display: inline-block;
  width: 100%;
}
.contact-details {
  width: 50%;
  display: inline-block;
}
