.home-page {
  padding: 10%;
  height: 1000px;
  background: url(../../public/bg-home.jpg) no-repeat center center fixed;
  background-size: cover;
}
.my-details {
  padding: 5% 10% 5%;
  border-radius: 5px;
  background-color: #000000e1;
  color: #fff;
}
.about-me-page {
  background-color: #181818;
  color: #ffffff;
}
.about-me-page h1 {
  text-align: left;
  line-height: 10px;
}
.split-div {
  display: inline-block;
}
.split-div2 p {
}
.split-div2 {
  background-color: var(--secondary);
  color: rgb(131, 131, 131);
  font-size: 19px;
  line-height: 25px;
}

.my-details h1 {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  /* background: linear-gradient(90deg, black, white, black); */
  background: linear-gradient(90deg, var(--primary), white, var(--primary));
  animation: animate 7s linear infinite;
  background-size: 90%;
  /*background-repeat:no-repeat;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes animate {
  from {
    background-position: -1000%;
  }
  to {
    background-position: 1000%;
  }
}
