.container {
  padding: 5%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: #fff;
  padding-bottom: 32px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.photo {
  width: 40%;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.title {
  color: #ffffff;
  font-size: 14pt;
}

.section {
  background-color: #000209;
  padding: 22px 20px;
}

.section:nth-of-type(3) {
  background-color: #000209;
}

.section:last-of-type {
  background-color: #000209;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

h2 {
  font-weight: normal;
  color: white;
  font-size: 14pt;
  padding-bottom: 20px;
  padding-top: 10px;
}

.section > p {
  margin-top: 26px;
  line-height: 26px;
  font-size: 11.5pt;
  color: #ffffffd4;
}

.recent {
  margin-top: 21px;
  color: #ffffffd4;
  line-height: 31.5px;
  list-style: none;
  margin-left: -40px;
}

.recent > li:before {
  content: '☑';
  margin-right: 15px;
  font-size: 16pt;
}

u:hover {
  cursor: pointer;
  color: turquoise;
  transition: color 0.25s ease;
}

.btn-ctr {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  color: white;
  border: 1px solid #ffffff42;
  font-size: 11pt;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  color: turquoise;
  transition: color 0.25s ease;
  border: 1px solid turquoise;
}

@media only screen and (min-width: 361px) {
  .container {
    padding: 7%;
  }

  .name {
    background-color: var(--primary) !important;
    color: #fff !important;
    padding-bottom: 50px;
  }

  .section {
    padding-bottom: 57px;
  }
}

@media only screen and (min-width: 481px) {
  .container {
    padding: 8%;
  }

  .photo {
    width: 110px;
  }

  .name {
    padding-bottom: 40px;
    background-color: var(--primary) !important;
  }

  .section {
    padding-bottom: 39px;
  }
}

@media only screen and (min-width: 737px) {
  .container {
    padding: 14%;
  }

  .name {
    padding-bottom: 40px;
    background-color: var(--primary) !important;
  }

  .title {
    font-size: 11pt;
    color: #fff;
  }

  .section {
    padding-bottom: 39px;
    display: flex;
  }

  .about {
    margin-left: 93px;
  }

  .contact {
    background: none !important;
    margin-left: 78px;
  }

  .recent-work {
    margin-left: 45px;
  }

  .info {
    border-left: 1px solid #ffffff42;
    margin-left: 30px;
    margin-right: 45px;
    padding-left: 35px;
    font-size: 10pt !important;
  }

  .btn {
    font-size: 10pt;
  }
}

@media only screen and (min-width: 981px) {
  .container {
    padding: 0;
    width: 60%;
    margin: 70px auto;
  }

  .photo {
    width: 120px;
  }

  .title {
    font-size: 12.5pt;
  }
  .info {
    font-size: 11pt !important;
    padding-right: 60px;
  }

  .btn {
    font-size: 11pt;
    height: 40px;
  }
  .name {
    padding-bottom: 40px;
    background-color: var(--primary) !important;
  }
}
