@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333333;
  text-align: center;
  color: #faf9f6;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-whatsapp {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-whatsapp:hover {
  background-color: #04a884;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #e95950;
}
.all-rights-reserved {
  margin-top: 3rem;
}

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
  width: 100%;
}

footer * {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
.about p {
  text-align: left;
  line-height: 2;
  margin: 0;
}

li:not(:first-child) {
  margin-top: 0.8em;
}

input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  background-color: #e188a5;
  color: #ffffff;
}
