@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px; /* Reduce base font size */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin-bottom: -8px;
  padding-bottom: 4rem;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #181823d0;
  font-size: 14px;
  line-height: 1.4;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #181823;
  text-align: center;
  color: #faf9f6;
  font-size: 12px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 5px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.fa-facebook,
.fa-whatsapp,
.fa-linkedin,
.fa-instagram {
  padding: 8px 10px;
  transition: background-color 0.5s ease;
  background-color: #322f30;
}

.row {
  padding: 0.5em 0.5em;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
  gap: 10px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  min-height: 4em;
}

.about p {
  text-align: left;
  line-height: 1.6;
  margin: 0;
  font-size: 13px;
}

li:not(:first-child) {
  margin-top: 0.5em;
}

input,
button {
  font-size: 12px;
  padding: 0.8em;
  width: 100%;
  margin-bottom: 4px;
}

button {
  background-color: #172855;
  color: #ffffff;
}

.heading {
  text-align: center;
  color: #ccc;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.text-content {
  color: #bbb;
  line-height: 1.4;
  font-size: 13px;
}

.sub-heading {
  text-align: left;
  color: #ddd;
  font-size: 14px;
}
